<footer class="footer bg-white text-tertiary p-4 text-center">
  <p>EM;</p>
  <p>
    <a href="https://github.com/Matijasevic-Emer" target="_blank" class="hover:underline">GitHub</a> |
    <a href="https://www.linkedin.com/in/emerson-matijasevic/" target="_blank" class="hover:underline">LinkedIn</a> |
    <a href="https://www.youtube.com/watch?v=0Qj3LUxx3Zg&list=PLP06kydD_xaUS6plnsdonHa5ySbPx1PrP&index=2" target="_blank" class="hover:underline">Inspiración</a>
  </p>
</footer>
